DYNACONF_SERVER_HOST = 
DYNACONF_SERVER_PORT = 

DYNACONF_DB_HOST = 
DYNACONF_DB_PORT = 
DYNACONF_DB_USER = 
DYNACONF_DB_PASS = 
DYNACONF_DB_NAME = 

DYNACONF_JWT_SECRET_KEY = 
DYNACONF_JWT_ALGORITHM = 
DYNACONF_JWT_EXPIRE_MINUTES = 